
  <div class="c-card c-card--bordered c-card--event c-card--horizontal theme-cosm">
    <div class="c-card__content">
              <ul class="c-card__breadcrumb">
          <li class="category">Personal care</li>
        </ul>
      
      
      <h3 class="c-card__title">Cosmet&#039;agora</h3>
      

      <div class="c-card__left">
                  <p class="c-card__date">
            <span class="date">16 - 17 Jan</span>
            <span class="year">2024</span>
          </p>
        
        <div class="c-card__event-info">
                      <p class="c-card__place">
                              Espace Champerret<br/>
                                            Paris, France<br/>
                                            Booth 167-168
                          </p>
          
                  </div>
      </div>
      <div class="c-card__right">
                  <p class="c-card__summary">Gattefossé France will be present at Cosmet'agora January 16-17, 2024.</p>
        
        
              </div>
    </div>
  </div>