
<div class="c-card c-card--horizontal theme-cosm">
    <div class="c-card__content">
      
      <h3 class="c-card__title">
        <a class="c-card__title-link" href="news/gattefosse-won-gold-in-cosmetics-asia-2023-third-award-emulium-dermolea-mb.html">Gattefossé won Gold at in-cosmetics Asia 2023, third award for Emulium® Dermolea MB.</a>
      </h3>
      

      <ul class="c-card__breadcrumb">
        <li class="category">Personal care</li>
      </ul>

              <p class="c-card__info">
                      <span class="c-card__date"><time datetime="2023-11-22T12:00:00Z" class="datetime">22 Nov 2023</time>
</span>
                            </p>
      
              <p class="c-card__summary">Gattefossé was once again rewarded for its new O/W emulsifier, receiving the gold medal.</p>
      
          </div>

          <div class="c-card__image">
        <img src="sites/default/files/styles/card_default/public/2023-11/thumbnail-incos-awards-dermolea2.jpg.jpg" alt="incos-awards-dermolea" width="369" height="208" class="card__image img-fluid" loading="lazy">
      </div>
      </div>