
    a.menu-icon-71,
    ul.links li.menu-icon-71 a,
    ul.menu li.menu-icon-71 a {
        background-image: url(../menu_icons/account.svg);
        padding-left:24px;
        background-repeat: no-repeat;
        background-position: left center;
    }
    a.menu-icon-71,
    ul.links li.menu-icon-71 a,
    ul.menu li.menu-icon-71 a {
        background-image: url(../menu_icons/account.svg);
        padding-left:24px;
        background-repeat: no-repeat;
        background-position: left center;
    }
    a.menu-icon-72,
    ul.links li.menu-icon-72 a,
    ul.menu li.menu-icon-72 a {
        background-image: url(../menu_icons/favorite.svg);
        padding-left:24px;
        background-repeat: no-repeat;
        background-position: left center;
    }
    a.menu-icon-72,
    ul.links li.menu-icon-72 a,
    ul.menu li.menu-icon-72 a {
        background-image: url(../menu_icons/favorite.svg);
        padding-left:24px;
        background-repeat: no-repeat;
        background-position: left center;
    }
    a.menu-icon-73,
    ul.links li.menu-icon-73 a,
    ul.menu li.menu-icon-73 a {
        background-image: url(../menu_icons/sign-out.svg);
        padding-left:24px;
        background-repeat: no-repeat;
        background-position: left center;
    }
    a.menu-icon-73,
    ul.links li.menu-icon-73 a,
    ul.menu li.menu-icon-73 a {
        background-image: url(../menu_icons/sign-out.svg);
        padding-left:24px;
        background-repeat: no-repeat;
        background-position: left center;
    }
    a.menu-icon-74,
    ul.links li.menu-icon-74 a,
    ul.menu li.menu-icon-74 a {
        background-image: url(../menu_icons/pillsbleu.svg);
        padding-left:48px;
        background-repeat: no-repeat;
        background-position: left center;
    }
    a.menu-icon-74,
    ul.links li.menu-icon-74 a,
    ul.menu li.menu-icon-74 a {
        background-image: url(../menu_icons/pillsbleu.svg);
        padding-left:48px;
        background-repeat: no-repeat;
        background-position: left center;
    }
    a.menu-icon-75,
    ul.links li.menu-icon-75 a,
    ul.menu li.menu-icon-75 a {
        background-image: url(../menu_icons/ingredients.svg);
        padding-left:px;
        background-repeat: no-repeat;
        background-position: left center;
    }
    a.menu-icon-75,
    ul.links li.menu-icon-75 a,
    ul.menu li.menu-icon-75 a {
        background-image: url(../menu_icons/ingredients.svg);
        padding-left:px;
        background-repeat: no-repeat;
        background-position: left center;
    }
    a.menu-icon-76,
    ul.links li.menu-icon-76 a,
    ul.menu li.menu-icon-76 a {
        background-image: url(../menu_icons/formules.svg);
        padding-left:px;
        background-repeat: no-repeat;
        background-position: left center;
    }
    a.menu-icon-76,
    ul.links li.menu-icon-76 a,
    ul.menu li.menu-icon-76 a {
        background-image: url(../menu_icons/formules.svg);
        padding-left:px;
        background-repeat: no-repeat;
        background-position: left center;
    }
    a.menu-icon-77,
    ul.links li.menu-icon-77 a,
    ul.menu li.menu-icon-77 a {
        background-image: url(../menu_icons/plantvert.svg);
        padding-left:60px;
        background-repeat: no-repeat;
        background-position: left center;
    }
    a.menu-icon-77,
    ul.links li.menu-icon-77 a,
    ul.menu li.menu-icon-77 a {
        background-image: url(../menu_icons/plantvert.svg);
        padding-left:60px;
        background-repeat: no-repeat;
        background-position: left center;
    }
    a.menu-icon-104,
    ul.links li.menu-icon-104 a,
    ul.menu li.menu-icon-104 a {
        background-image: url(../menu_icons/account_0.svg);
        padding-left:24px;
        background-repeat: no-repeat;
        background-position: left center;
    }
    a.menu-icon-111,
    ul.links li.menu-icon-111 a,
    ul.menu li.menu-icon-111 a {
        background-image: url(../menu_icons/formulation-technologies.svg);
        padding-left:48px;
        background-repeat: no-repeat;
        background-position: left center;
    }
    a.menu-icon-111,
    ul.links li.menu-icon-111 a,
    ul.menu li.menu-icon-111 a {
        background-image: url(../menu_icons/formulation-technologies.svg);
        padding-left:48px;
        background-repeat: no-repeat;
        background-position: left center;
    }
